<div class="row">
  <!-- Sidebar -->
  <div class="span3">
    <div class=widget>
      <div class="widget-header">
        <h3>Hello User</h3>
      </div>
      <div class="widget-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada lacus eget dolor laoreet porta. Morbi et lectus eget orci tempor placerat. Sed sagittis, odio quis rhoncus consequat, tortor metus lobortis neque, nec feugiat eros nulla eu enim. Quisque venenatis porta iaculis. In hac habitasse platea dictumst. Aliquam risus massa, accumsan a porttitor et, iaculis non diam. Fusce vitae dui sed ipsum egestas sodales. Nullam pharetra, nisl vitae tincidunt ullamcorper, tortor mauris commodo lectus, in scelerisque ipsum orci sit amet sem. Sed dapibus ullamcorper odio a pulvinar. In hac habitasse platea dictumst.
      </div>
    </div>
    <ul id="sidebar" class="nav nav-tabs nav-stacked">
      <li class="active"><a href="index.html"><i class="icon-dashboard"></i>&nbsp;&nbsp;Main dashboard view</a></li>
      <li><a href="grid.html"><i class="icon-th-large"></i>&nbsp;&nbsp;Grid Layout</a></li>
      <li><a href="tables.html"><i class="icon-table"></i>&nbsp;&nbsp;Tables</a></li>
      <li><a href="messages.html"><i class="icon-comments-alt"></i>&nbsp;&nbsp;Messages<span class="label label-success pull-right">New!</span></a></li>
      <li><a href="news.html"><i class="icon-globe"></i>&nbsp;&nbsp;News<span class="label label-success pull-right">6</span></a></li>
      <li><a href="products.html"><i class="icon-truck"></i>&nbsp;&nbsp;Products<span class="label label-success pull-right">3</span></a></li>
      <li><a href="alerts.html"><i class="icon-bolt"></i>&nbsp;&nbsp;Alerts</a></li>
      <li><a href="gallery.html"><i class="icon-camera-retro"></i>&nbsp;&nbsp;Gallery</a></li>
      <li><a href="faqs.html"><i class="icon-legal"></i>&nbsp;&nbsp;FAQ</a></li>
      <li><a href="user-account.html"><i class="icon-user"></i>&nbsp;&nbsp;User information</a></li>
      <li class="accordion">
        <a href="#collapse-additional-info" class="accordion-toggle" data-toggle="collapse" data-parent="navigation-components">
          <i class="icon-list-ul"></i>&nbsp;&nbsp;More info
          <span class="label label-success pull-right">Click me!</span>
        </a>
        <div id="collapse-additional-info" class="accordion-body collapse">
          <div class="sidebar-extra well">
            You can add more information here.
          </div>
        </div>
      </li>
    </ul>
  </div>
  <!-- /Sidebar -->

  <!-- Content -->
  <div class="span9">
    
    <div class="box-container">
      <div class="box-holder">
        <a href="#"><div class="box"><span>216</span>Views</div></a>
      </div>
      
      <div class="box-holder">						
        <a href="#"><div class="box"><span>34</span>Messages</div></a>
      </div>
      
      <div class="box-holder">						
        <a href="#"><div class="box"><span>58</span>Open tickets</div></a>
      </div>
      
      <div class="box-holder">						
        <a href="#"><div class="box"><span>79</span>Invoices</div></a>
      </div>
    </div>

    <div class="widget">
      <div class="widget-header">
        <h3><i class="icon-tag"></i>&nbsp;&nbsp;Badges</h3>
      </div>
      <div class="widget-content">
        <div class="box-container">
          <div class="box-holder">
            <a href="#"><div class="box-img"><img src="http://placehold.it/120x120" class="img-circle" alt="badge1"></div></a>
          </div>
          
          <div class="box-holder">						
            <a href="#"><div class="box-img"><img src="http://placehold.it/120x120" class="img-circle" alt="badge2"></div></a>
          </div>
          
          <div class="box-holder">						
            <a href="#"><div class="box-img"><img src="http://placehold.it/120x120" class="img-circle" alt="badge3"></div></a>
          </div>
          
          <div class="box-holder">						
            <a href="#"><div class="box-img"><img src="http://placehold.it/120x120" class="img-circle" alt="badge4"></div></a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="widget">
      <div class="widget-header">
        <h3><i class="icon-globe"></i>&nbsp;&nbsp;Usage of web browsers</h3>
      </div>
      <div class="widget-content">
        <strong>Chrome</strong><span class="pull-right">70%</span>
        <div class="progress progress-danger active">
          <div class="bar" style="width: 70%;"></div>
        </div>
        <strong>Firefox</strong><span class="pull-right">60%</span>
        <div class="progress progress-info active">
          <div class="bar" style="width: 60%;"></div>
        </div>
        <strong>Safari</strong><span class="pull-right">30%</span>
        <div class="progress progress-striped active">
          <div class="bar" style="width: 30%;"></div>
        </div>
        <strong>Opera</strong><span class="pull-right">15%</span>
        <div class="progress progress-success active">
          <div class="bar" style="width: 15%;"></div>
        </div>
        <strong>Others</strong><span class="pull-right">10%</span>
        <div class="progress progress-warning active">
          <div class="bar" style="width: 10%;"></div>
        </div>
        <p>
        <a href="#" class="pull-right">View detailed results</a>
        </p>
      </div>
    </div>
  </div>
  <!-- /Content -->
</div>
