/*********************/
/*-	Navbar section	-*/
/*********************/

$theme_green: #49708A;
$theme_white: #F5F5F5;

#main-content {
  padding-top: 10px;
}
.navbar {
  font-weight: 400;

  color: $theme_white;

  .navbar-inner {
    background: $theme_green;

    .container {
      background: $theme_green;

      .brand {
        position: relative;
        background: $theme_green;
        color: $theme_white;
        font-size: 18px;
        font-weight: 500;
      }
      .nav > li > a {
        font-size: 13px;
        color: $theme_white;
        text-shadow: none;
        b.caret {
          border-top-color: $theme_white;
          border-bottom-color: $theme_white;
        }
      }
      .nav > li > a:hover {
        color: #88ABC2;
        text-shadow: none;
        b.caret {
          border-top-color: #88ABC2;
          border-bottom-color: #88ABC2;
        }
      }
    }
  }

}

/*********************/
/*-	Dashboard Gauges - Boxes section	-*/
/*********************/

#top-gauges.box-container {
  .box-holder {
    vertical-align:top;
    .box {
      text-align: left;
      padding: 0px;
      height: 100px;
      img {
        float: left;
        width: 160px;
        height: 100px;
      }
      .top-gauge {
        width: 120px; 
        float: left;
      }
    }
  }
}

/* archived */
/*
#login-dropdown-form {
  input.input {
    margin-bottom: 8px !important;
  }
  input#remember_me {
    float: left;
    margin-right: 10px;
  }
  input.submit-btn {
    margin-top: 3px;
    width: 100%;
  }
}

.paypal-access-ctn {
  margin-top: 3px;
  text-align: center;
}

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; // negative indent the amount of the padding to maintain the grid system
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
*/
